<h1>Recipe Name: <%= @recipe.name %> </h1>
<h1>Recipe Name: <%= @recipe.ingredients %> </h1>
<h1>Recipe Name: <%= @recipe.cook_time %> </h1>

<form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>